* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Urbanist', sans-serif;
  background-color: #f5f7fa;
  padding: 0px 20px;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "sidebar main";
  margin: 0 auto;
  max-width: 1200px;
  background: linear-gradient(180deg, #f2d1be, #e5dce7);
  box-shadow: 7px 10px 20px rgba(0, 0, 0, 0.322);
  border-left: 8px solid #f4bf13;
  border-right: 8px solid #f4bf13;

}
nav {
  display: none;
}
.sidebar {
  grid-area: sidebar;
  max-width: 370px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "photo"
  "contacts"
  "projects"
  "languages";
  gap: 20px;
  padding: 40px 0px;
  background-color: #fdcd2e;
}
.sidebar h3 {
  font-size: 24px;
  color: #ffffff;
  text-shadow: 1px 1px 2px #141002bb;
}
.photo {
  grid-area: photo;
  width: 100%;
}
.contacts {
  grid-area: contacts;

  margin-left: 30px;
  font-size: 18px;
  text-align: left;
}
.sidebar-icons {
  width: 25px;
  height: auto;
}
.contacts-list {
  margin-top: 10px;
  margin-bottom: 20px;
}
.contacts-list li {
  list-style-type: none;
  margin-right: 5px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;

}
.contacts-list a {
  text-decoration: none;
  color: #ffffff;
}
.contacts-list a:hover {
  text-shadow: 1px 1px 3px #000000af;
}

.languages {
  grid-area: languages;
  margin-left: 30px;
  font-size: 18px;
  text-align: left;
  padding-right: 30px;
}
.languages h4 {
  margin-top: 9px;
}
.languages div {
  line-height: 20px;
}
.projects {
  grid-area: projects;
  margin-left: 30px;
}
.projects-container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.projects-item {
  max-width: 150px;
  max-height: 150px;
  padding: 15px;
  transition: all 0.6s;
}
.projects-item img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  border-radius: 5px;
  border: 2px solid #fae6a0;

}
.projects-item :hover {
  transform: scale(1.05);
}
.projects-item h5 {
  font-size: 16px;
  color: #f5f5f5;
}
.main {
  grid-area: main;
  width: 100%;
}
.about-me {
  display: block;
  padding: 40px 50px 20px 50px;
}
h1 {
  margin-bottom: 10px;
  font-size: 45px;
  font-weight: 500;
  text-align: left;
  line-height: 50px;
  color: #ffffff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.664);
}
h1:hover {
  color: #000000;
}
h2 {
  margin-bottom: 8px;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.664);
}

.about-me-info {
  line-height: 22px;
  font-size: 18px;

}
.skills {
  display: block;
  padding: 5px 50px;
}
.skills-lists {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 40px;
}
.skills-lists h3 {
  margin-bottom: 7px;
  font-size: 18px;
  color: #4e4e4e;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.664);;
}
.skills-tech {
  list-style-type: none;
  font-size: 20px;
  line-height: 24px;
}
.skills-tech img {
  width: 20px;
  height: 24px;
  margin-right: 3px;
}
.skills-soft {
  list-style-type:square;
  font-size: 20px;
  line-height: 26px;
}
.education {
  display: block;
  padding: 15px 50px;
}
.education-info {
  font-size: 20px;
  line-height: 22px;
}
.examples {
  margin-bottom: 20px;
  display: block;
  padding: 15px 50px;
}
.examples-code img {
  display: block;
  width: 80%;
  border: 2px solid #000000;
  border-radius: 7px;
  box-shadow: 2px 2px 4px #000000af;
  margin-bottom: 20px;
}
.experience {
  margin-top: 15px;
  padding: 5px 50px 40px 50px;
  display: block;
  padding: 15px 50px;
}
.code-line {
  margin: 0 auto;
  height: 2px;
  width: 650px;
  background-color: #000000;
}
code {
  font-weight: 400;
}
pre {
  margin: 1px;
  font-family: 'Urbanist', sans-serif;
  font-size: 0.9rem;
  background-color: #f5f5f5;
  border: 2px solid #000000;
  border-radius: 5px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.322); ;
}
.experience {
  padding: 20px 50px 40px 50px;
}
.experience-info {
  font-size: 20px;
  line-height: 22px;
}
.footer {
  margin-top: 25px;
  margin-bottom: 45px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer-github {
  width: 50px;
  height: 50px;
}
.footer-rs-school {
  width: 125px;
  height: 55px;
}
.footer-info {
  font-size: 17px;
  text-shadow: 1px 1px 1px #00000083;
}
@media (max-width: 1024px) {
  .examples-code img {
      margin-bottom: 10px;
  }

  .about-me-info {
      line-height: 20px;
      font-size: 17px;
  }

  .skills-lists {
      column-gap: 10px;
  }

  .skills-soft,
  .skills-tech {
      list-style-type: none;
      font-size: 17px;
      line-height: 23px;
  }

  .education-info {
      font-size: 18px;
      line-height: 21px;
  }

  .experience-info {
      font-size: 18px;
      line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .about-me {
      display: block;
      padding: 40px 50px 20px 35px;
  }
  .skills-tech {
      margin-right: 10px;
      list-style-type: none;
      font-size: 12px;
      line-height: 18px;
  }
}
@media screen and (max-width: 637px) {
  .main-container {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
          "sidebar"
          "main";
  }
  nav {
      display: block;
      background-color: #f0ad60c7;
      border-radius: 7px;
      position: absolute;
      width: 100%;
      height: 30px;
      z-index: 2;
  }
  .hamburger {
      display: block;
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 26px;
      height: 15px;
  }
  .hamburger span {
      width: 100%;
      display: block;
      height: 2px;
      background-color: #f5f7fa;
      margin-bottom: 2px;
      transition: 0.6s all;
  }

  .hamburger.hamburger-active span  {
      margin-bottom: -2px;
  }
  .hamburger.hamburger-active span :nth-child(1) {
      transform: translateY(3px) rotate(-45deg);
  }
  .hamburger.hamburger-active span :nth-child(2) {
      display: none;
  }
  .hamburger.hamburger-active span :nth-child(3) {
      transform: translateY(3px) rotate(45deg);
  }

  .menu-list {
      position: fixed;
      padding: 30px 20px;
      margin: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 62px;
      left: -100%;
      width: 40%;
      background-color: #08070779;
      transition: 0.6s all;
  }
  .menu-list.menu-list-active {
      left: 0%;
  }
  .menu-item {
      margin-bottom: 4px;
  }
  .menu-link {
      text-decoration: none;
      color: #f5f7fa;
      font-size: 15px;
      text-align: left;
  }

  .sidebar {
      grid-area: sidebar;
      max-width: 100%;
      z-index: 1;
  }
  .languages {
      margin-top: 80px;
  }
  h1 {
      font-size: 40px;
      text-align: center;
      line-height: 45px;
  }
  h2 {
      font-size: 27px;
      text-align: center;
  }
  .about-me {
      padding-left: 25px;
  }
  .education {
      padding-left: 25px;
  }
  .examples {
      padding-left: 25px;
  }
  .experience {
      padding-left: 25px;
  }

  .education-info {
      font-size: 16px;
      line-height: 20px;
  }

  .projects-item {
      max-width: 150px;
      max-height: 110px;
      padding: 15px;
      transition: all 0.6s;
  }
  .photo {
      grid-area: photo;
      border: 1px solid #141002;
  }


}

@media screen and (max-width: 425px) {
  body {
      padding: 30px 5px;
  }
  .main-container {
      width: 320px;
  }
  .sidebar {
      grid-area: sidebar;
      max-width: 318px;
  }
  .about-me {
      display: block;
      padding: 22px 20px 20px 35px;
  }
  .about-me-info {
      line-height: 16px;
      font-size: 14px;
  }
  .education-info {
      font-size: 14px;
      line-height: 19px;
  }
  .experience-info {
      font-size: 16px;
      line-height: 20px;
  }
  .projects-container {

      column-gap: 10px;
  }
  .languages {
      grid-area: languages;
      margin-left: 30px;
      font-size: 15px;
  }
  h1 {
      font-size: 27px;
      text-align: center;
      line-height: 31px;
  }
  h2 {
      font-size: 22px;
      text-align: center;
  }
  .skills {
      display: block;
      padding: 6px 16px;
  }
  .skills-soft {
      list-style-type: none;
      font-size: 12px;
      line-height: 20px;
  }
  .footer-github {
      width: 45px;
      height: 45px;
  }
  .footer-rs-school {
      width: 90px;
      height: 45px;
  }
}

@media screen and (max-width: 320px) {
  body {
      padding: 30px 0px;
  }
  .sidebar {
      grid-area: sidebar;
      max-width: 320px;
  }
  h1 {
      font-size: 22px;
  }
  h2 {
      font-size: 21px;
  }
  .main {
      grid-area: main;
      width: 100%;
  }
  .skills {
      display: block;
      padding: 6px 30px;
  }
  .skills-lists {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      row-gap: 20px;
  }
  .skills-tech {
      font-size: 15px;
      line-height: 18px;
  }
  .skills-soft {
      font-size: 15px;
      line-height: 24px;
  }
  .education {
      display: block;
      padding: 0px 50px 10px 30px;
  }
}

.chocolate {
  display: flex;
  justify-content: center;
  align-items: center;
}
